@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-zinc-800);
  --background: var(--color-white);
  --border: --alpha(var(--color-black) / 12%);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-800);
  --destructive: var(--color-red-500);
  --foreground: var(--color-zinc-800);
  --input: --alpha(var(--color-black) / 12%);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-800);
  --primary: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);
  --ring: var(--color-zinc-400);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-zinc-800);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --accent: --alpha(var(--color-white) / 6%);
  --accent-foreground: var(--color-zinc-200);
  --background: color-mix(in srgb, var(--color-zinc-950) 98%, var(--color-white));
  --border: --alpha(var(--color-white) / 12%);
  --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --card-foreground: var(--color-zinc-200);
  --destructive: var(--color-red-500);
  --foreground: var(--color-zinc-200);
  --input: --alpha(var(--color-white) / 12%);
  --muted: --alpha(var(--color-white) / 6%);
  --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));
  --popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
  --popover-foreground: var(--color-zinc-200);
  --primary: var(--color-zinc-200);
  --primary-foreground: var(--color-zinc-800);
  --ring: var(--color-zinc-500);
  --secondary: --alpha(var(--color-white) / 6%);
  --secondary-foreground: var(--color-zinc-200);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-ring: var(--ring);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-input: var(--input);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-background: var(--background);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  @keyframes skeleton {
  to {
    background-position: -200% 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}